@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Snapping & Scrollbar Hiding */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #09090b;
  overflow: hidden;
}

/* Hide default scrollbars globally for app-like feeling */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
